##########################################################
#
# This is a sample flask.cfg for developing a Flask application
#
##########################################################
import os

# Get the folder of the top-level directory of this project
BASEDIR = os.path.abspath(os.path.dirname(__file__))

# Update later by using a random number generator and moving
# the actual key outside of the source code under version control
SECRET_KEY = os.environ.get('SECRET_KEY')
WTF_CSRF_ENABLED = True
DEBUG = True
INDEX_URL = os.environ.get('INDEX_URL','http://localhost:5000/automator/excel')


# SQLAlchemy
SQLALCHEMY_DATABASE_URI = 'sqlite:///' + os.path.join(BASEDIR, 'app.db')
SQLALCHEMY_TRACK_MODIFICATIONS = False

# Directories
PREFIX_BASE_DIR="./web/tmp/"
UPLOADED_REPORTS_DEST="./web/tmp/uploads/"
TMP_UNMERGED_DEST="./web/tmp/unmerged/"
TMP_DOWNLOADS_DEST="./web/tmp/downloads/"

# Mail
MAILGUN_URL = "XXX"
MAILGUN_KEY = "XXXX"

