
{% extends "base.html" %}

{% block content %}

    <div class="content-wrapper">
        <div class="content">
            <div class="pure-g">

                <div class="splash-container">
                    <div class="splash">
                        <h1 class="splash-head">Error</h1>

                        <p class="splash-subhead">
                           Something unexpected happened. Please try again! This action will be logged!
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </div>

{% endblock %}