<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A layout example that shows off a responsive product landing page.">   
    <title>Automator</title>    
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('receipt.static',filename='css/pure-min.css') }}">
    
    <!--[if lte IE 8]>
        <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/grids-responsive-old-ie-min.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
        <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/grids-responsive-min.css">
    <!--<![endif]-->
    
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    
        <!--[if lte IE 8]>
            <link rel="stylesheet" href="css/layouts/marketing-old-ie.css">
        <![endif]-->
        <!--[if gt IE 8]><!-->
            <link rel= "stylesheet" type= "text/css" href= "{{ url_for('receipt.static',filename='css/layouts/marketing.css') }}">
        <!--<![endif]-->
    {%- block scripts -%}{%- endblock %}
</head>
<body>

<div class="header">
    <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
        <a class="pure-menu-heading" href="">Automator</a>
        
    </div>
</div>

{% block content %}{% endblock %}

<div class="footer l-box is-center">
    Can contribute? Here is the repo on <a href="https://github.com/dedeco/automator">Github</a>.
</div>

</body>
</html>